
.headings {
    align-items: center;
    padding-bottom: 10px;
    font-size: 18px;
    color: #4a625a;
}
.heading{
    color : white;
    font-size: 20px;
}
.numbers{
    font-size: 30px;
    color:white;
    padding-right: 15px;
}

.usersCard {
    width: 40px;
}
.conWrapper{
    background-color: #488A99;
    margin: 13px;
    border-radius: 3px;
    border: 2px solid #488A99;
}

.containerTabs{
display: flex;
justify-content: space-around;
padding: 10px 10px ;
}
.card {
    -webkit-box-shadow: 0 2px 12px 0 rgba(43,43,43,0.44);
    box-shadow: 0 2px 12px 0 rgba(43,43,43,0.44);
    border-radius: 2px;
    width: 190px;
    height: 100px;
    background-color: rgba(75, 148, 161, 0.74);
    color: white;
}

.cards:hover {
    box-shadow: 2px 4px 10px 1px rgba(59, 59, 59, 0.47);
}
.sub-Heading{
    color: white;
    font-size: 14px;
}
.money{
    color:lawngreen;
    font-size: 20px;
}
.revenue{
    padding-top: 10px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
.graph {
    width: 230px;
    height: 230px;
    padding: 10px;
    border-left: 2px solid #dcdcdc;
}
.profile-holder{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    background-color: #0f5132;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.outerWrapper{
    display: flex;
}
.vitals{
    flex: 4;
}
.scores{
    flex:1;
}
.people{
    padding:2em
}
.user{
    margin-right: 20px;
}
.schoolGraphs{
    display: flex;
}
.tableUser{
    flex:3;
    margin-left:13px ;
}
.chart{
    flex:2;
}
.stats{
    display: flex;
    justify-content: space-between;
}

.scoresNumber{
    -webkit-box-shadow: 2px 9px 21px -11px rgba(0,0,0,0.87);
    box-shadow: 2px 9px 21px -11px rgba(0,0,0,0.87);
    background-color: white;
    border-radius: 2px;
}
.chartItem{
    width: 250px;
    height: 250px;
}

