.user-tb {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
  }
  
  .list-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .mui-btn {
    margin-top: 10px;
  }
  
  .user-management-title {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
  }
  
  .user-management-title .MuiSvgIcon-root {
    margin-right: 10px;
  }
  