.noUser{
    font-size: 20px;
    font-weight: normal;
}

.user-tb{
    margin-top:1em;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.3em;


}
th{
    color: rgb(163, 162, 162);
    font-size: 13px;
}
.list-title{
    margin-left:20px;
    font-size: 24px;
    font-weight: bolder;
    color: black;

}
.edit-btn{
    padding:2px;
    border-radius: 2px;
    border:1px solid green;
    cursor: pointer;
}
