.app {
    display: flex;
    height: 100vh;
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
}

.dark-theme {
    /* background-color: #222; */
    color: #fff;
}

/* Additional global styles can be added here */
