
.user {
    margin-left: 8em;
    margin-bottom: 2em;
}

.heading {
    align-items: center;
    font-size: 14px;

}

.usersCard {
    width: 40px;
}
.tablecss{
   max-width: 74%;
}
.headings {
    margin-right: 4em;

}
