body{

}
.index{
    background: linear-gradient(
    106.37deg,
    #e3f4fd 29.34%,
    #fdfdff 51.55%,
    #ffffff 90.85%
    );
    height: 100vh;

 }
.inner{
    /*display: grid;*/
    display: flex;
    height: 97%;
    width: 100%;
    border-radius: 2rem;
    background-color: rgba(233, 236, 255, 0.39);
}
