body{

}
.index{
    background-color: #f6f7fb;
    height: 100vh;

 }

*{
    font-family: 'Nunito',sans-serif;
}
.inner{
    /*display: grid;*/
    display: flex;
    height: 97%;
    width: 100%;
    border-radius: 2rem;
    background-color: rgba(233, 236, 255, 0.39);
}
