
.innerHome {
    width: 100%;
}

.content-wrapper {
    display: flex;
}

.sideBar {
    flex: 1.1;
    background-color: white;
}

.outlet {
    flex: 4;
    overflow-y: scroll;
    position: relative;
    height: 100vh;

}

