.main{
   width: 900px;
    margin: auto;
    display: flex;
    padding:0.5em;

}
.login-pic{
    width: 500px;
    margin-left: 2em;
    padding-left: 1em;
    border-left: 1px solid black;
    border-top-right-radius: .3em ;
    border-bottom-right-radius: .3em ;
}
.vitals{
    /*padding-top:10em*/
}
.trial{
    color: yellow;
}
.main1{
    margin: 7em;
}
