.cardInfo{
    border: 1px solid rgba(187, 187, 187, 0.66);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(185, 185, 185, 0.47);
    height: 150px;
}
