.profile-name,
.school-logo,
.link,
.bg-body-tertiary,
#nav-dropdown-title {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.nav-dropdown-title > .nav-link {
    color: rgb(255, 255, 255) !important;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}

.notification {
    margin-right: 1em;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 183, 255);
    padding: 0.5em;
    height: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 195px);
    margin-left: 195px ;
    -webkit-box-shadow: 2px 6px 8px -4px #000000; 
    box-shadow: 2px 6px 8px -4px #000000;}
.nav-dropdown-title{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: lighter;  
}
.nts{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: lighter;

}
.nav-logo {
    width: 70px;
    height: 40px;
    font-size: 17px;
}
.notification {
    display: flex;
    align-items: center;
    margin-right: 1em;
    color: white;
  }
  
  .notification .icon {
    color: white;
    font-size: 20px;
    margin-right: 5px;
  }
  
