
.profile-name{
    color: white;
}
.user{
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}
.notification{
    margin-right:1em
}
.nav-items{
    display: flex;
    justify-content: space-between;
    background-color: #021b62;
    padding:.5em;
    height: 50px;
    color: white;
}

.nav-logo{
width: 70px;
height: 40px;
}