
.card{
    width: 15em;
    height:10em;
    margin-bottom: 5%;
    cursor: pointer;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.main-sub{
    width :95%;
    margin:auto
}
.con{
    /* border:1px solid black */
}
.btn-holder{
    padding: 5px;
    text-align: right;
}

.card:hover{
    box-shadow: 2px -2px 10px rgba(100, 100, 100, 0.571)
}