.teacher {
    font-weight: bolder;
}

.teacherInfo {
    width: 250px;
    height: 200px;
    background-color: white;
    -webkit-box-shadow: 2px 9px -21px -11px rgba(0, 0, 0, 0.87);
    box-shadow: 2px 9px 25px -25px rgba(0, 0, 0, 0.87);
}

.Image {

}

.insideWrapper {
    margin: auto;
}

.name {
    font-weight: bolder;
    font-size: 20px;
    color: #0a58ca;
}

.profilePic {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
    filter: maskFilter();
}

.upperActions {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 25%;
    color: black;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /*padding: 10px;*/
}

.input {
    /*outline: none;*/
    /*width: 90%;*/
    border: none;

}

.input:focus {
    outline: none
}

.addBtn {
    box-shadow: 0 15px 14px -8px #276873;
    background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #3d768a;
    border: 1px solid #276873;
}

.addBtn:hover {
    background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.addTeacherWrapper {
    border: 1px solid #408c99;
    height: 80vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.details {
    display: flex;
}

.title {
    font-size: 16px;
    font-weight: bolder;
    background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    color: white;
    padding: 10px;
}

.personal {
    padding: 10px;
    margin-left: 20px;
}
.organisation {
    padding: 10px;
    margin-left: 20px;
}

.saveBtn {
    margin-right: 20px;
    box-shadow: 0 9px 14px -7px #276873;
    background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    padding: 5px 32px;
    text-decoration: none;
    text-shadow: 3px 4px 0 #3d768a;
    border: 1px solid #599bb3;
}

.saveBtn:hover {
    background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.saveBtn:active {
    position: relative;
    top: 1px;
}

.form-control{
    width: 400px;
}

