
.main {
    height: calc(100% - 50px);
    width: 100%;
}

.statistics {
    height: 100px;
    width: 100%;
    margin: .87em auto;
    display: flex;
    justify-content: space-around;
}

.cardMn {
    display: flex;
    width: 24%;
    background-color: white;
    box-shadow: 2px 2px 2px #c6c2c2;
    align-items: center;

}

.stdPng {
    width: 40%;
}

.figure {
    border-left: 1px solid grey;
    height: 60%;
    margin: auto;
}


.body {
    display: block; 
}

.expense-card {
    background-color: white;
    box-shadow: 2px 2px 2px #c6c2c2;
    height: 100px; 
}

.heading {
    display: flex;
    background-color: #9a8644;
    width: 99%;
    height: 40px;
    padding-left: 1em;
    padding-top: .6em;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
thead{
    background-color: #021b62;
}
th {
    padding: 10px 0 10px 0px;
  
}
table{
    width: 50%; 
    background-color: white;
    box-shadow: 2px 2px 2px #c6c2c2;
    margin-bottom: 20px;
}
table td{
   font-weight: 500; 
}
table tbody{
    overflow-x: scroll;
}
.right-card{
    box-shadow: 2px 2px 2px #c6c2c2;
    width: 50%;
    height: 30em;
    background-color:  white;
}
