/*outer top*/
.outerWrapper{
    display: flex;
    width:100%;
}

/*middle top*/
.outVitals {
    flex: 5;
}

.conWrapper {
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #aaeaf6;
}
.headings {
    align-items: center;
    padding-bottom: 10px;
    font-size: 15px;
    color: #4a625a;
}
.heading{
    color : white;
    font-size: 14px;
}
.numbers{
    font-size: 30px;
    color:white;
    padding-right: 15px;
}

.usersCard {
    width: 50px;
}
.containerTabs{
display: flex;
justify-content: space-around;
padding: 10px 10px ;
}
.card {
    -webkit-box-shadow: 0 2px 12px 0 rgba(43, 43, 43, 0.44);
    box-shadow: 0 2px 12px 0 rgba(43, 43, 43, 0.44);
    border-radius: 2px;
    width: 250px;
    height: 100px;
    background-color: rgba(75, 148, 161, 0.74);
    color: white;

}
.schoolGraphs{
    /*border: 2px solid yellow;*/
    margin-left: 10px;
}
.sub-Heading{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.money{
    color:lawngreen;
    font-size: 20px;
}
.revenue{
    padding-top: 5px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
.graph {
    width: 230px;
    height: 230px;
    padding: 10px;
    border-left: 2px solid #dcdcdc;
}
.profile-holder{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    background-color: #0f5132;
    color: white;
    font-weight: bold;
    font-size: 17px;
}


.vitals{
    flex: 4;
}

.scoresNumber{
    -webkit-box-shadow: 2px 9px 21px -11px rgba(0,0,0,0.87);
    box-shadow: 2px 9px 21px -11px rgba(0,0,0,0.87);
    background-color: white;
    border-radius: 2px;
}
.people{
    padding:2em
}
.user{
    margin-right: 20px;
}
.schoolGraphs{
    display: flex;
}
.tableUser{
    flex:3;
    margin-left:13px ;
}
.chart{
    flex: 1.3;
    -webkit-box-shadow: 2px 9px -21px -11px rgba(0,0,0,0.87);
    box-shadow: 2px 9px 25px -25px rgba(0,0,0,0.87);
    background-color: white;
}
.stats{
    display: flex;
    justify-content: space-between;
}


.chartItem{
    width: 200px;
    height: 200px;
}

.subHeading {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.gender{
    width: 200px;
    height: 250px;
}
.table {
    width: 98%;
    -webkit-box-shadow: 2px 9px -21px -11px rgba(0, 0, 0, 0.87);
    box-shadow: 2px 9px 25px -25px rgba(0, 0, 0, 0.87);
    background-color: white;
    border-radius: 5px;
    height: 50vh;
    overflow-y: scroll;

}
.title-card{
    padding-top :5px;
    padding-left:6px;
    font-size: 16px;
    border-top: 3px solid #aaaaaa;
    border-top-left-radius: 5px;
    font-weight: bolder;

}
.teamTable{
    margin-left: 10px;
    margin-Top: 10px;
    max-height: 200px;

}
.heading-title{
    display: flex;
    background-color: #9a8644;
    width: 99%;
    height: 40px;
    padding-left:1em;
    padding-top: .6em;
    margin:10px;
    border-radius: 5px;
    color:white;
}
.heading-title h4{
    color:white;
    font-size: 15px;
font-weight: bolder;
margin-left: 5px;
}
