
.sidebar {
    border-right: 1px solid rgba(233, 236, 255, 0.39);
    background-color: #262b38;
    /*overflow-y:scroll;*/
    /*height: 100vh;*/
    position:relative;
}

.center ul {
    margin: 0;
    padding: 0;
}
.top {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    margin-top:10px
}

li:hover {
    /*background-color: rgba(65, 61, 103, 0.71);*/
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-decoration: underline;
    color: black;

}.link{
    text-decoration: none;
    color: black;
}
.icons {
    color: black;
}

span {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}
.sideBarItemText{
    font-weight: normal;
}

.sidebardown{
position: absolute;
bottom: 0;
    width: 250px;
}
